<% disabled ||= false %>
<%= form_for [@public_officer, @commission, @trip, @gasto] do |f| %>
	<% if @gasto.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@gasto.errors.count, "error") %> prohibited this gasto from being saved:</h2>

			<ul>
			<% @gasto.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="field col-md-4">
			<%= f.label :importe, :class => "control-label" %><br />
			<%= f.text_field :importe, :class => "form-control input-sm" %>
		</div>
		<div class="field col-md-4">
			<%= f.label :id_moneda, "Moneda", :class => "control-label" %><br />
			<%= f.collection_select :id_moneda, MonedaCatalogo.all, :id, :moneda, {:prompt => 'Seleccione una opción'}, { :class => "form-control input-sm" } %>
		</div>
		<div class="field col-md-4">
			<%= f.label :id_concepto, "Concepto", :class => "control-label" %><br />
			<%= f.collection_select :id_concepto, ConceptoCatalogo.all, :id, :concepto, {:prompt => 'Seleccione una opción'}, { :class => "form-control input-sm" } %>
		</div>
	</div>
	<div class="row">
		<div class="field col-md-2">
			<%= f.label :existe_comprobante, "Comprobante", :class => "control-label"%><br />
			<%= f.text_field :existe_comprobante, :class => "form-control input-sm" %>
		</div>
		<div class="field col-md-5">
			<%= f.label :id_justificacion, "Justificación", :class => "control-label" %><br />
			<%= f.collection_select :id_justificacion, JustificacionCatalogo.all, :id, :justificacion, {:prompt => 'Seleccione una opción'}, {:class => "form-control input-sm"} %>
		</div>
	</div>
	<div class="row">
		<div class="actions col-md-12">
			<%= f.submit "Agregar", :class => 'btn btn-primary pull-right', disabled: disabled %>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Gastos</div>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><strong>#</strong></td>
					<td><strong>Monto</strong></td>
					<td><strong>Moneda</strong></td>
					<td><strong>Concepto</strong></td>
					<td><strong>Èxiste comprobante</strong></td>
					<td><strong>Justificación</strong></td>							
				</tr>
				<% @gastos.each do |gasto| %>
				<tr>
					<td></td>
					<td><%= gasto.importe %></td>
					<td><%= MonedaCatalogo.find(gasto.id_moneda).moneda %></td>
					<td><%= ConceptoCatalogo.find(gasto.id_concepto).concepto %></td>
					<td><%= gasto.existe_comprobante %></td>
					<% if gasto.id_justificacion != nil %>
					<td><%= JustificacionCatalogo.find(gasto.id_justificacion).justificacion %></td>
					<% else %>
					<td>"N/A"</td>
					<% end %>
				</tr>	
				<% end %>
			</tbody>
		</table>
	</div>
</div>