<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group" id="accordion2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-tittle">
					<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						Busca servidor público
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="field">
						<%= f.label :nombre %><br />
						<%= f.text_field :nombre, {:class => 'form-control input-sm'} %>
					</div>
					<div class="field">
						<%= f.label :primer_ap %><br />
						<%= f.text_field :primer_ap, {:class => 'form-control input-sm'}%>
					</div>
						<div class="field">
						<%= f.label :segundo_ap %><br />
						<%= f.text_field :segundo_ap , {:class => 'form-control input-sm'}%>
					</div>
					<div class="field">
						<%= f.label :id_cargo, "Cargo", :class => "control-label" %><br />
						<%= f.collection_select :id, Cargo.all, :id, :cargo, {:prompt => 'Seleccione una opción'}, {:class => 'form-control input-sm'}%>
					</div>
					<div class="field">
						<%= f.label :id_puesto, "Puesto", :class => "control-label" %><br />
						<%= f.collection_select :id, Puesto.all, :id, :puesto, {:prompt => 'Seleccione una opción'}, {:class => 'form-control input-sm'}%>
					</div>					  
					<div class="actions col-md-offset-7">
						<%= f.submit "Buscar", :class => 'btn btn-primary'  %>
					</div>

				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-tittle">
					<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						Busca viaje
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="field">
						<%= f.label :min_fecha, "Fecha Inicio", :class => "control-label" %><br />
						<div class="input-group date">
						  <%= f.text_field :min_fecha, :class => "form-control input-sm" %><span class="input-group-addon input-sm"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
						<script type="text/javascript">
						  $('.input-group.date').datepicker({
							  format: "yyyy-mm-dd",
							  language: "es",
							  autoclose: true,
							  todayHighlight: true
						  });
						</script>
					</div>
					<div class="field">
						<%= f.label :max_fecha, "Fecha fin", :class => "control-label" %><br />
						<div class="input-group date">
						  <%= f.text_field :max_fecha, :class => "form-control input-sm" %><span class="input-group-addon input-sm"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
						<script type="text/javascript">
						  $('.input-group.date').datepicker({
							  format: "yyyy-mm-dd",
							  language: "es",
							  autoclose: true,
							  todayHighlight: true
						  });
						</script>
					</div>					
					<div class="field">
						<%= f.label :min_gasto, "Gasto inicial", :class => "control-label"%><br />
						<%= f.text_field :min_gasto, {:class => 'form-control input-sm'} %>
					</div>
					<div class="field">
						<%= f.label :max_gasto, "Gasto final", :class => "control-label"%><br />
						<%= f.text_field :max_gasto, {:class => 'form-control input-sm'} %>
					</div>
					<div class="actions col-md-offset-7">
						<%= f.submit "Buscar", :class => 'btn btn-primary'  %>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-tittle">
				Comparativo Servidores
			</h4>
		</div>
		<div class="panel-body">
			<div class="row-fluid">

			</div>
			<div class="actions col-md-offset-7">
				<%= f.submit "Compara", :class => 'btn btn-primary'  %>
			</div>
		</div>
	</div>
<% end %>
