<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group" id="accordion2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-tittle">
					<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						Busca servidor público
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="field">
						<%= f.label :nombre %><br />
						<%= f.text_field :nombre, {:class => 'form-control input-sm'} %>
					</div>
					<div class="field">
						<%= f.label :primer_ap %><br />
						<%= f.text_field :primer_ap, {:class => 'form-control input-sm'}%>
					</div>
						<div class="field">
						<%= f.label :segundo_ap %><br />
						<%= f.text_field :segundo_ap , {:class => 'form-control input-sm'}%>
					</div>
					<div class="field">
						<%= f.label :puesto, "Puesto", :class => "control-label" %><br />
						<%= f.collection_select :puesto, Puesto.all, :id, :puesto, {:prompt => 'Seleccione una opción'}, {:class => 'form-control input-sm'}%>
					</div>					  
					<div class="actions col-md-offset-7">
						<%= f.submit "Buscar", :class => 'btn btn-primary'  %>
					</div>

				</div>
			</div>
		</div>	
	</div>
<% end %>
