<%= form_for [@public_officer, @commission_officer] do |f| %>
  <% if @commission_officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commission_officer.errors.count, "error") %> prohibited this commission_officer from being saved:</h2>

      <ul>
      <% @commission_officer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :public_officer_id %><br />
    <%= f.number_field :public_officer_id %>
  </div>
  <div class="field">
    <%= f.label :commission_id %><br />
    <%= f.number_field :commission_id %>
  </div>
  <div class="field">
    <%= f.label :resultado %><br />
    <%= f.text_area :resultado %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
