<p id="notice"><%= notice %></p>

<p>
  <b>Public officer:</b>
  <%= @commission_officer.public_officer_id %>
</p>

<p>
  <b>Commission:</b>
  <%= @commission_officer.commission_id %>
</p>

<p>
  <b>Resultado:</b>
  <%= @commission_officer.resultado %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @commission_officer.observaciones %>
</p>


<%= link_to 'Edit', edit_commission_officer_path(@commission_officer) %> |
<%= link_to 'Back', commission_officers_path %>
