<%= form_for [@public_officer, @commission, @trip] do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :localidad_origen %><br />
    <%= f.number_field :localidad_origen %>
  </div>
  <div class="field">
    <%= f.label :localidad_destino %><br />
    <%= f.number_field :localidad_destino %>
  </div>
  <div class="field">
    <%= f.label :tipo_viaje %><br />
    <%= f.number_field :tipo_viaje %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
