<%= form_for [@public_officer, @commission, @trip] do |f| %>
	<% if @trip.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

			<ul>
			<% @trip.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
	



		<div class="col-md-12">
				<div class="row col-md-12">
					<div class="field col-md-6">
						<%= f.label :tipo_viaje, "Tipo de Viaje", :class => "control-label" %><br />
						<%= f.collection_select :tipo_viaje, TipoViajeCatalogo.all, :id, :tipo_viaje, {:prompt => 'Seleccione una opción'}, {:class => 'form-control auto'} %>
					</div>
				</div>
				<div class="row col-md-12">
					<h5>Origen</h5>
					<div class="form-group col-md-4">
						<%= f.select(:pais, @paises_array.map { |value| [ value, value ] }, {:prompt => 'País'}, {:class => 'form-control'}) %>
					</div>
					<div class="form-group col-md-4">
						<%= f.select(:estado, [], {:prompt => 'Estado'}, {:class => 'form-control'}) %>
					</div>
					<div class="form-group col-md-4">
						<%= f.select(:ciudad, [], {:prompt => 'Ciudad'}, {:class => 'form-control'}) %>
					</div>
				</div>
				<div class="row col-md-12">			
					<h5>Destino</h5>
					<div class="form-group col-md-4">
						<%= f.select(:pais, @paises_array.map { |value| [ value, value ] }, {:prompt => 'País'}, {:class => 'form-control'}) %>
					</div>
					<div class="form-group col-md-4">
						<%= f.select(:estado, [], {:prompt => 'Estado'}, {:class => 'form-control'}) %>
					</div>
					<div class="form-group col-md-4">
						<%= f.select(:ciudad, [], {:prompt => 'Ciudad'}, {:class => 'form-control'}) %>
					</div>
				</div>
				<div class="row col-md-12">
					<div class="actions col-md-12">
						<%= f.submit 'Guardar', :class => 'btn btn-primary' %>
					</div>
				</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
<% end %>
