<%= form_for [@public_officer, @commission, @trip, @detail] do |f| %>
	<% if @detail.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

			<ul>
			<% @detail.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :evento %><br />
		<%= f.text_field :evento %>
	</div>
	<div class="field">
		<%= f.label :url_evento %><br />
		<%= f.text_field :url_evento %>
	</div>
	<div class="field">
		<%= f.label :fechainicio_part, "Inicio Participaci贸n", :class => "control-label" %><br />
		<div class="input-group date">
			<%= f.text_field :fechainicio_part, :class => "form-control" %><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		</div>
		<script type="text/javascript">
			$('.input-group.date').datepicker({
				format: "yyyy-mm-dd",
				language: "es",
				autoclose: true,
				todayHighlight: true
			});
		</script>
	</div>
	<div class="field">
		<%= f.label :fechafin_part, "Fin Participaci贸n", :class => "control-label" %><br />
		<div class="input-group date">
			<%= f.text_field :fechafin_part, :class => "form-control" %><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		</div>
		<script type="text/javascript">
			$('.input-group.date').datepicker({
				format: "yyyy-mm-dd",
				language: "es",
				autoclose: true,
				todayHighlight: true
			});
		</script>
	</div>
	<div class="field">
		<%= f.label :antecedente %><br />
		<%= f.text_area :antecedente %>
	</div>
	<div class="field">
		<%= f.label :actividad %><br />
		<%= f.text_area :actividad %>
	</div>
	<div class="field">
		<%= f.label :contribucion_ifai %><br />
		<%= f.text_field :contribucion_ifai %>
	</div>
	<div class="field">
		<%= f.label :url_comunicado %><br />
		<%= f.text_field :url_comunicado %>
	</div>
	<div class="field">
		<%= f.label :cubre_pasaje %><br />
		<%= f.text_field :cubre_pasaje %>
	</div>
	<div class="field">
		<%= f.label :tipo_pasaje, "Tipo Pasaje", :class => "control-label" %><br />
		<%= f.collection_select :tipo_pasaje, TipoPasajeCatalogo.all, :id, :tipo_pasaje, {:prompt => 'Seleccione una opci贸n'}, {:class => 'form-control'} %>
	</div>
	<div class="field">
		<%= f.label :inst_hospedaje %><br />
		<%= f.text_field :inst_hospedaje %>
	</div>
	<div class="field">
		<%= f.label :hotel %><br />
		<%= f.text_field :hotel %>
	</div>
	<div class="field">
		<%= f.label :fechainicio_hotel, "Inicio de Hospedaje", :class => "control-label" %><br />
		<div class="input-group date">
			<%= f.text_field :fechainicio_hotel, :class => "form-control" %><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		</div>
		<script type="text/javascript">
			$('.input-group.date').datepicker({
				format: "yyyy-mm-dd",
				language: "es",
				autoclose: true,
				todayHighlight: true
			});
		</script>
	</div>
	<div class="field">
		<%= f.label :fechafin_hotel, "Fin de Hospedaje", :class => "control-label" %><br />
		<div class="input-group date">
			<%= f.text_field :fechafin_hotel, :class => "form-control" %><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		</div>
		<script type="text/javascript">
			$('.input-group.date').datepicker({
				format: "yyyy-mm-dd",
				language: "es",
				autoclose: true,
				todayHighlight: true
			});
		</script>
	</div>
	<div class="field">
		<%= f.label :id_tema_viaje, "Tema de Viaje", :class => "control-label" %><br />
		<%= f.collection_select :id_tema_viaje, TviajeCat.all, :id, :tema, {:prompt => 'Seleccione una opci贸n'}, {:class => 'form-control'} %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>