<p id="notice"><%= notice %></p>

<p>
  <b>Trip:</b>
  <%= @detail.trip_id %>
</p>

<p>
  <b>Id mec origen:</b>
  <%= @detail.id_mec_origen %>
</p>

<p>
  <b>Inst genera:</b>
  <%= @detail.inst_genera %>
</p>

<p>
  <b>Ur:</b>
  <%= @detail.ur %>
</p>

<p>
  <b>Tipo rep:</b>
  <%= @detail.tipo_rep %>
</p>

<p>
  <b>Integer:</b>
  <%= @detail.integer %>
</p>

<p>
  <b>Consecutivo:</b>
  <%= @detail.consecutivo %>
</p>

<p>
  <b>Acuerdo:</b>
  <%= @detail.acuerdo %>
</p>

<p>
  <b>Oficio:</b>
  <%= @detail.oficio %>
</p>

<p>
  <b>Tipo com:</b>
  <%= @detail.tipo_com %>
</p>

<p>
  <b>Evento:</b>
  <%= @detail.evento %>
</p>

<p>
  <b>Url evento:</b>
  <%= @detail.url_evento %>
</p>

<p>
  <b>Fechainicio part:</b>
  <%= @detail.fechainicio_part %>
</p>

<p>
  <b>Fechafin part:</b>
  <%= @detail.fechafin_part %>
</p>

<p>
  <b>Antecedente:</b>
  <%= @detail.antecedente %>
</p>

<p>
  <b>Actividad:</b>
  <%= @detail.actividad %>
</p>

<p>
  <b>Contribucion ifai:</b>
  <%= @detail.contribucion_ifai %>
</p>

<p>
  <b>Url comunicado:</b>
  <%= @detail.url_comunicado %>
</p>

<p>
  <b>Cubre pasaje:</b>
  <%= @detail.cubre_pasaje %>
</p>

<p>
  <b>Tipo pasaje:</b>
  <%= @detail.tipo_pasaje %>
</p>

<p>
  <b>Inst hospedaje:</b>
  <%= @detail.inst_hospedaje %>
</p>

<p>
  <b>Hotel:</b>
  <%= @detail.hotel %>
</p>

<p>
  <b>Fechainicio hotel:</b>
  <%= @detail.fechainicio_hotel %>
</p>

<p>
  <b>Fechafin hotel:</b>
  <%= @detail.fechafin_hotel %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @detail.observaciones %>
</p>

<p>
  <b>Detalle viaje col:</b>
  <%= @detail.detalle_viaje_col %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
