<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                
                <h2><%= @tema %></h2>
            </div>
            <hr>
	  <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Detalle del Viaje
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#evento-pills" data-toggle="tab">Evento</a>
                                </li>
                                <li><a href="#antecedentes-pills" data-toggle="tab">Antecedentes</a>
                                </li>
                                <li><a href="#contribucion-pills" data-toggle="tab">Contribucion</a>
                                </li>
								 <li><a href="#hospedaje-pills" data-toggle="tab">Hospedaje</a>
                                </li>
								<li><a href="#pasaje-pills" data-toggle="tab">Pasaje</a>
                                </li>
								<li><a href="#gasto-pills" data-toggle="tab">Gastos</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="evento-pills">
                                    
									<h3><%= @detalle.evento %></h3>
									<h4>Tipo de evento: <%= @tipoV %></h4>
									<h4>Celebrado en: <%= @pais %> - <%= @estado %> - <%= @ciudad %> </h4>
									<h4>Del <%= @detalle.fechainicio_part.to_s %> al <%= @detalle.fechafin_part.to_s %></h4>
									<a href="#"><h6>URL del evento: <%= @detalle.url_evento %></h6></a>
									<a href="#"><h6>URL del comunicado: <%= @detalle.url_comunicado %></h6></a>
									<br></br>
									
                                    <p>
									<%= @detalle.actividad %>
									</p>
                                </div>
                                <div class="tab-pane fade" id="antecedentes-pills">
                                    <p>
										<%= @detalle.antecedente %>
									</p>
                                </div>
                                
                                <div class="tab-pane fade" id="contribucion-pills">
                                  
                                    <p>
										<%= @detalle.actividad %>
									</p>
                                </div>
								<div class="tab-pane fade" id="hospedaje-pills">
                                    <h4>El hospedaje corrio a cuenta de:</h4>
                                    <h5><%= @detalle.inst_hospedaje %></h5>
									
									<h4>Hotel:</h4>
                                    <h5><%= @detalle.hotel %></h5>
									
									<h4>Fecha de hospedaje:</h4>
                                    <h5><%= @detalle.fechainicio_hotel %> al <%= @detalle.fechafin_hotel %></h5>
									
                                </div>
								
								<div class="tab-pane fade" id="pasaje-pills">
                                    <h4>El pasaje fue via:</h4>
                                    <h5><%= @tipoViaje %></h5>
									
									<h4>Aerolinea Origen:</h4>
                                    <h5><%= @aerolineaOrigen %></h5>
									<h4>Vuelo Origen:</h4>
                                    <h5><%= @vueloOrigen %></h5>
									
									<h4>Aerolinea Destino:</h4>
                                    <h5><%= @aerolineaDestino %></h5>
									<h4>Vuelo Destino:</h4>
                                    <h5><%= @vueloDestino %></h5>
                                </div>
								<div class="tab-pane fade" id="gasto-pills">
                                    <h4>Moneda:</h4>
                                    <h5><%= @moneda %></h5>
									
									<h4>Gasto pasajes:</h4>
                                    <h5><%= @gastos.gasto_pasaje %></h5>
									<h4>Gasto hospedaje:</h4>
                                    <h5><%= @gastos.costo_hotel %></h5>
									
									<h4>Gasto alimentos:</h4>
                                    <h5><%= @gastos.gasto_alimento %></h5>
									<h4>Otros:</h4>
                                    <h5><%= @gastos.gasto_otro %></h5>
									<h4>Total gastado:</h4>
                                    <h5><%= @gastos.gasto_viatico %></h5>
									<h4>Viáticos otorgados:</h4>
                                    <h5><%= @gastos.viaticos_total %></h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
		<div align="center">
								<div class="col-md-offset-20" >
									<button class="btn btn-default" type="button"><%= link_to "Regresar", public_officer_path(@public_officer.id) %></button>
								</div>

							</div>

</div>

<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>