<div class="panel panel-info col-md-12">
		<div class="panel-heading" align="center">
			<h3><%= @public_officer.full_name %></h3>
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<div class="row-fluid">
					<label class="control-label"> <b>Cargo:</b></label>
					<span class="row"><%= @public_officer.desc_cargo %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Cargo del Superior:</b></label>
					<span class="row"><%= @public_officer.desc_cargo_superior %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Puesto:</b></label>
					<span class="row"><%= Puesto.where(:id => @public_officer.id_puesto).first.puesto %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Unidad Administrativa:</b></label>
					<span class="row"> <%= @public_officer.desc_unidad_adm %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Institución:</b></label>
					<span class="row"> <%= @public_officer.desc_institucion %></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row-fluid">
					<label class="control-label"><b>Personal Tipo:</b></label>
					<span class="row"> <%= @public_officer.desc_tipo_personal %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Correo Electrónico:</b></label>
					<span class="row"> <%= @public_officer.correo_electronico %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Gastos sin comprobar total:</b></label>
					<span class="row"> <%= @public_officer.gastos_sin_comprobar_total %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Costo total:</b></label>
					<span class="row">   <%= @public_officer.costo_total %></span>
				</div>
				<div class="row-fluid">
					<label class="control-label"><b>Viaticos devueltos total:</b></label>
					<span class="row">  <%= @public_officer.viaticos_devueltos_total %></span>
				</div>
				<div class="row-fluid">
					<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none"></a>
				</div>
			</div>
		</div>
</div>		
  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],
      p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
      }
    }(document, 'script', 'twitter-wjs');
  </script>  