  <div>
    <b>Nombre:</b>
    <%= @public_officer.full_name %>
  </div>
  <div>
    <b>Cargo:</b>
    <%= @public_officer.desc_cargo %>
  </div>
  <div>
    <b>Cargo del Superior:</b>
    <%= @public_officer.desc_cargo_superior %>
  </div>
  <div>
    <b>Puesto:</b>
    <%= @public_officer.id_puesto %>
  </div>
  <div>
    <b>Unidad Administrativa:</b>
    <%= @public_officer.desc_unidad_adm %>
  </div>
  <div>
    <b>Institución:</b>
    <%= @public_officer.desc_institucion %>
  </div>
  <div>
    <b>Personal Tipo:</b>
    <%= @public_officer.desc_tipo_personal %>
  </div>
  <div>
    <b>Correo Electrónico:</b>
    <%= @public_officer.correo_electronico %>
  </div>
  <div>
    <b>Gastos sin comprobar total:</b>
    <%= @public_officer.gastos_sin_comprobar_total %>
  </div>
  <div>
    <b>Costo total:</b>
    <%= @public_officer.costo_total %>
  </div>
  <div>
    <b>Viaticos devueltos total:</b>
    <%= @public_officer.viaticos_devueltos_total %>
  </div>
  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none"></a>
  </div>

  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],
      p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
      }
    }(document, 'script', 'twitter-wjs');
  </script>  