<h1>Listing public_officers</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ap paterno</th>
    <th>Ap materno</th>
    <th>Puesto</th>
    <th>Gastos comprobados total</th>
    <th>Gastos sin comprobar total</th>
    <th>Costo total</th>
    <th>Viaticos devueltos total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @public_officers.each do |public_officer| %>
  <tr>
    <td><%= public_officer.nombre %></td>
    <td><%= public_officer.ap_paterno %></td>
    <td><%= public_officer.ap_materno %></td>
    <td><%= public_officer.gastos_comprobados_total %></td>
    <td><%= public_officer.gastos_sin_comprobar_total %></td>
    <td><%= public_officer.costo_total %></td>
    <td><%= public_officer.viaticos_devueltos_total %></td>
    <td><%= link_to 'Show', public_officer %></td>
    <td><%= link_to 'Edit', edit_public_officer_path(public_officer) %></td>
    <td><%= link_to 'Destroy', public_officer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>