<%= form_for(@consulta_viaje) do |f| %>
  <% if @consulta_viaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consulta_viaje.errors.count, "error") %> prohibited this consulta_viaje from being saved:</h2>

      <ul>
      <% @consulta_viaje.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_inicio %><br>
    <%= f.date_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br>
    <%= f.date_select :fecha_fin %>
  </div>
  <div class="field">
    <%= f.label :public_officer_id %><br>
    <%= f.text_field :public_officer_id %>
  </div>
  <div class="field">
    <%= f.label :min_precio %><br>
    <%= f.text_field :min_precio %>
  </div>
  <div class="field">
    <%= f.label :max_precio %><br>
    <%= f.text_field :max_precio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
