<%= form_for [@public_officer, @ciudadano] do |f| %>
  <% if @ciudadano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudadano.errors.count, "error") %> prohibited this ciudadano from being saved:</h2>

      <ul>
      <% @ciudadano.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre, "Nombre", :class => "control-label"   %><br>
    <%= f.text_field :nombre, :class => "form-control input-sm" %>
  </div>
  <div class="field">
    <%= f.label :ap_paterno, "Apellido paterno", :class => "control-label"  %><br>
    <%= f.text_field :ap_paterno, :class => "form-control input-sm" %>
  </div>
  <div class="field">
    <%= f.label :ap_materno, "Apellido materno", :class => "control-label" %><br>
    <%= f.text_field :ap_materno, :class => "form-control input-sm" %>
  </div>
  <div class="field">
    <%= f.label :id_correo, "Correo", :class => "control-label"  %><br>
    <%= f.text_field :id_correo, :class => "form-control input-sm" %>
  </div>
	<div class="actions modal-footer">
	   <%= f.submit "Guardar", :class => 'btn btn-primary' %>
  </div>
<% end %>
