<!DOCTYPE html>
<html>
<head>
  <title>ViajesTransparentesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="row-fluid" align="center" style="padding: 10px">
		<div class=".col-md-9">
			<%= image_tag 'IFAI_logo.png' %><%= image_tag "cabecera.png", width: "60%", height: "90px"  %>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
